@model MatrixUsersManagement.Models.ContactDetails

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ContactDetails</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ContactDetailsID" />
        <div class="form-group">
            <label asp-for="OwnerUserID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OwnerUserID" class="form-control" asp-items="ViewBag.OwnerUserID"></select>
                <span asp-validation-for="OwnerUserID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="method" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="method" class="form-control"></select>
                <span asp-validation-for="method" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="details" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="details" class="form-control" />
                <span asp-validation-for="details" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
