@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Matrix Users Management System</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MUMS - the Matrix Users Management System</h2>
        <p>
            MUMS is a sample application that enables matrix management stuff to enhance themself with the CRUD superpowers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>the magic of ASP.net entity framework</h2>
        <p>combined with angular developer programming skills allows crazy shit to happend.</p>
    </div>
    <div class="col-md-4">
        <h2>lorom ipsom</h2>
        <p>dolor sit amet.</p>
        <p>what a wonderfull application !</p>
    </div>
</div>